
<!-- <ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button-icon button-clear ion-ios7-arrow-back">
  </ion-nav-back-button>
</ion-nav-bar> -->

<!-- <ion-view>
	<icyl-custom-none ui-view="main-header">
	</icyl-custom-none>
	<icyl-custom-none ui-view="main-container">
	</icyl-custom-none>
	<icyl-custom-none ui-view="main-footer">
	</icyl-custom-none>
</ion-view> -->

<!-- <ion-nav-bar class="bar-stable nav-title-slide-ios7">
	<ion-view name="main-header"></ion-view>
</ion-nav-bar>
<ion-content>
	<ion-view name="main-container"></ion-view>
</ion-content>
<ion-footer-bar class="bar-stable no-padding">
	<ion-view name="main-footer"></ion-view>
</ion-footer-bar> -->

<ion-nav-view name="main-container"></ion-nav-view>

<!-- 用于事先写入cookie，自动写入方法，和directives.js:42配合使用：done -->
<!-- <iframe-set-cookie id="setcookie" src="http://17f.go5le.net/postMessage.asp" style="display:none"></iframe-set-cookie> -->