
<!-- <ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button-icon button-clear ion-ios7-arrow-back">
  </ion-nav-back-button>
</ion-nav-bar> -->

<!-- <ion-view> -->
	<!-- <ion-nav-bar class="bar-stable nav-title-slide-ios7">
		<ion-nav-view name="main-header"></ion-nav-view>
	</ion-nav-bar> -->
	<ion-content>
		<p></p>
		<ion-nav-view name="main-container"></ion-nav-view>
	</ion-content>
	<ion-footer-bar class="bar-stable no-padding">
		<div class="tabs tabs-icon-top">
			<a class="tab-item" href="#/main/default"> <i class="icon ion-ios7-home"></i>
				首页
			</a>
			<a class="tab-item" href="#"> <i class="icon ion-star"></i>
				收藏
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-gear-a"></i>
				管理
			</a>
			<!-- <a class="tab-item" href="#/main/mine">
				<i class="icon ion-person"></i>
				我的
			</a> -->
			<a class="tab-item" mine-href>
				<i class="icon ion-person"></i>
				我的
			</a>
		</div>
	</ion-footer-bar>
<!-- </ion-view> -->

<!-- <ion-nav-bar class="bar-stable nav-title-slide-ios7">
	<ion-view name="main-header"></ion-view>
</ion-nav-bar>
<ion-content>
	<ion-view name="main-container"></ion-view>
</ion-content>
<ion-footer-bar class="bar-stable no-padding">
	<ion-view name="main-footer"></ion-view>
</ion-footer-bar> -->

<!-- <ion-nav-view name="main-container"></ion-nav-view> -->

<!-- 用于事先写入cookie，自动写入方法，和directives.js:42配合使用：done -->
<iframe-set-cookie id="setcookie" src="http://17f.go5le.net/postMessage.asp" style="display:none"></iframe-set-cookie>