
<!-- <ion-nav-bar class="bar-positive">
  <ion-nav-back-button class="button-icon button-clear ion-ios7-arrow-back">
  </ion-nav-back-button>
</ion-nav-bar> -->

<!-- <ion-view>
	<ion-nav-bar class="bar-stable nav-title-slide-ios7">
		<ion-nav-view name="main-header"></ion-nav-view>
	</ion-nav-bar>
	<ion-content>
		<ion-nav-view name="main-container"></ion-nav-view>
	</ion-content>
	<ion-footer-bar class="bar-stable no-padding">
		<ion-nav-view name="main-footer"></ion-nav-view>
	</ion-footer-bar>
</ion-view> -->

<!-- <ion-nav-bar class="bar-stable nav-title-slide-ios7">
	<ion-view name="main-header"></ion-view>
</ion-nav-bar>
<ion-content>
	<ion-view name="main-container"></ion-view>
</ion-content>
<ion-footer-bar class="bar-stable no-padding">
	<ion-view name="main-footer"></ion-view>
</ion-footer-bar> -->

<ion-nav-view name="main-container"></ion-nav-view>