<!-- <ion-view> -->
  <!-- <ion-footer-bar class="bar-stable no-padding"> -->
    <div class="tabs tabs-icon-top">
      <a class="tab-item" href="#/main/default">
        <i class="icon ion-ios7-home"></i>
        首页
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        收藏
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        管理
      </a>
      <!-- <a class="tab-item" href="#/main/mine">
        <i class="icon ion-person"></i>
        我的
      </a> -->
      <a class="tab-item" href="#/main/sysmgmt">
        <i class="icon ion-person"></i>
        我的
      </a> 
    </div>
  <!-- </ion-footer-bar> -->
<!-- </ion-view> -->