<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-buttons side="left">
        <button class="button button-clear" custom-go-back>
          <i class="icon ion-ios7-arrow-back"></i>
        </button>
      </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>

    <p>
        <button ng-click="openPopover($event)" class="button button-block">浮动弹出</button>
    </p>

    <button class="button button-dark" ng-click="showPopup()">
      show
    </button>
    <button class="button button-primary" ng-click="showConfirm()">
      Confirm
    </button>
    <button class="button button-positive" ng-click="showAlert()">
      Alert
    </button>

  </ion-content>

  <script id="my-popover.html" type="text/ng-template">
    <ion-popover-view>
      <ion-header-bar>
        <h1 class="title">My Popover Title</h1>
      </ion-header-bar>
      <ion-content>
        Hello!
      </ion-content>
    </ion-popover-view>
  </script>

  <script id="popup-template.html" type="text/ng-template">
    <input ng-model="data.wifi" type="text" placeholder="Password">
  </script>
  
</ion-view>

