<ion-view>

  <ion-nav-bar class="bar-stable nav-title-slide-ios7">
    <ion-nav-buttons side="left">
      <button class="button button-clear" custom-go-back>
        <i class="icon ion-ios7-arrow-back"></i>
      </button>
    </ion-nav-buttons>
    <h1 class="title">
      <a href="#/main/test" style="text-decoration:none">测试</a>
    </h1>
    <div class="buttons">
      <button class="button button-clear ion-navicon-round" ng-click="openPopover($event)">
      </button>
    </div>
  </ion-nav-bar>

  <ion-slide-box does-continue="true" auto-play="true" slide-interval="1000" class="ad-banner has-header">
    <ion-slide>
      <div class="box">
        <img src="img/mainImg3.png" class="img-responsive center-block">
        <div class="word-front center-block">
          <h3>建设美丽浙江 创造美好生活</h3>
          <h4>浙江省直机关“智慧团青”</h4>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="box">
        <img src="img/mainImg5.png" class="img-responsive center-block">
        <div class="word-front center-block">
          <h3>建设美丽浙江 创造美好生活</h3>
          <h4>浙江省直机关“智慧团青”APP</h4>
        </div>
      </div>
    </ion-slide>
  </ion-slide-box>
    
  <ion-tabs class="tabs-positive tabs-icon-only tabs-top">

    <ion-tab title="Home" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">
      <ion-content class="has-footer no-header">
        <a class="button button-block" href="#/main/testl">列表功能</a>
        <a class="button button-block" href="#/main/testr">超级列表</a>
        <a class="button button-block" href="#/main/tests">滑动区域</a>
        <a class="button button-block" href="#/main/testp">浮动弹出</a>
        <a class="button button-block" href="#/main/testa">活动弹出</a>
      </ion-content>
    </ion-tab>

    <ion-tab title="About" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">
      <ion-content>
      </ion-content>
    </ion-tab>

    <ion-tab title="Settings" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">
      <ion-content>
      </ion-content>
    </ion-tab>

  </ion-tabs>

  <ng-include src="'templates/common/footer.html'"></ng-include>

</ion-view>

<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">My Popover Title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-popover-view>
</script>