<style type="text/css">
.margin-top{
  margin-top:0;
}
.right{
  right:1em;
}
</style>

<ion-view title="最美浙江">

  <ion-header-bar class="bar-positive" align-title="center">
    <img src="img/badge.png" width="33">  
    <h1 class="title">
      <a href="#/main/beauty" style="text-decoration:none">最美浙江</a>
    </h1>
    <div class="buttons">
    <button class="button button-clear" ng-click="openPopover($event)"><i class="icon ion-navicon-round"></i></button>
    </div>



  </ion-header-bar>
  <!-- <ion-content scroll="true" overflow-scroll="true" class="nne" auto-play="true">  
  -->
  



  <ion-tabs class="tabs-positive tabs-icon-only  tabs-top ">

    <ion-tab title="最美浙江">
      <ion-content class="has-footer ">
        
        <ion-list>
          <ion-item>
            <div class="list list-inset margin-top">
              <label class="item item-input"> <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" >
                <button class="button button-clear icon-left ion-ios7-search right"></button>
              </label>

            </div>
          </ion-item>
          <ion-item>
          <ion-slide-box does-continue="true" slide-interval="3000" auto-play="true" class="ad-banner">
            <ion-slide>
              <div class="box">
                <img src="img/badge.png" class="img-responsive center-block">          
                <!-- <div class="word-front center-block">          
                <h3>建设美丽浙江 创造美好生活</h3>
                <h4>浙江省直机关“智慧团青”</h4>
              </div>
              -->
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box">
              <img src="tj3.png" class="img-responsive center-block">          
              <!-- <div class="word-front center-block">          
              <h3>建设美丽浙江 创造美好生活</h3>
              <h4>浙江省直机关“智慧团青”APP</h4>
            </div>
            -->
          </div>
          </ion-slide>

          </ion-slide-box>
          </ion-item>


          <ion-item ng-repeat="item in items" >Hello, {{item.id}}!</ion-item>
          
          <ion-item>
            <button class="button button-assertive button-block icon-right ion-chevron-right">
              众筹公益
            </button>
          </ion-item>
          <ion-item ng-repeat="item in items" class="item item-thumbnail-right">
            <img ng-src="{{item.imgsrc}}" width="125px" />        
            <h2>Hello, {{item.id}}!</h2>
          </ion-item>
          <ion-item>
            <a href="#/main/help">
              <button class="button button-assertive icon-right ion-chevron-right">我要求助</button>
            </a>
          </ion-item>
          <ion-item>
            <button class="button button-assertive button-block icon-right ion-chevron-right">
              特色服务
            </button>
          </ion-item>
          <ion-item ng-repeat="item in items" class="item item-thumbnail-right">
            <img ng-src="{{item.imgsrc}}" width="125px" />        
            <h2>{{item.name}}</h2>
            <p>{{item.address}}
            <br>
            {{item.active}}</p>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

    <ion-tab title="心理一解一" >
      <ion-content class="has-footer">
        <ion-list>
          <ion-item ng-repeat="item in items" >
                    
            <h2>Hello, {{item.id}}!</h2>
          </ion-item>
          <ion-item>
            <div class="list list-inset margin-top  right">
              <label class="item item-input"> <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
                <button class="button button-clear icon-left ion-ios7-search"></button>
              </label>

            </div>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

    <ion-tab title="众筹公益" >
      <ion-content class="has-footer">
        <ion-list>
          <ion-item ng-repeat="item in items" class="item item-thumbnail-left">
            <img ng-src="{{item.imgsrc}}" width="125px" />        
            <h2>Hello, {{item.id}}!</h2>
          </ion-item>
          <ion-item>
            <div class="list list-inset margin-top  right">
              <label class="item item-input"> <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
                <button class="button button-clear icon-left ion-ios7-search"></button>
              </label>

            </div>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

    <ion-tab title="特色服务">
      <ion-content class="has-footer">
        <ion-list>
          <ion-item ng-repeat="item in items" class="item item-thumbnail-left">
            <img ng-src="{{item.imgsrc}}" width="125px" />        
            <h2>{{item.name}}</h2>
            <p>{{item.address}}
            <br>
            {{item.active}}</p>
          </ion-item>
          <ion-item>
            <div class="list list-inset margin-top  right">
              <label class="item item-input"> <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
                <button class="button button-clear icon-left ion-ios7-search"></button>
              </label>

            </div>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

  </ion-tabs>
    



<ng-include src = "'footer.html'"></ng-include>
</ion-view>

  <script id="footer.html" type="text/ng-template">
      
  <ion-footer-bar class="bar-stable no-padding">
    <div class="tabs tabs-icon-top">
      <a class="tab-item" href="#/main/default"> <i class="icon ion-ios7-home"></i>
        首页
      </a>
      <a class="tab-item" href="#"> <i class="icon ion-star"></i>
        收藏
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        管理
      </a>
      <a class="tab-item" mine-href>
        <i class="icon ion-person"></i>
        我的
      </a>
    </div>
  </ion-footer-bar>
      
  </script>

  <script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">My Popover Title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-popover-view>
</script>
