<ion-view>

  <!-- <ion-nav-bar class="bar-stable nav-title-slide-ios7 hide">
    <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> </ion-nav-back-button>
  </ion-nav-bar> -->

  <ion-content class="has-footer">

    <ion-slide-box does-continue="false" slide-interval="3000">
      <ion-slide>
        <div class="box">
          <img src="img/mainImg3.png" class="img-responsive center-block">
          <div class="word-front center-block">
            <h3>建设美丽浙江 创造美好生活</h3>
            <h4>浙江省直机关“智慧团青”</h4>
          </div>
        </div>
      </ion-slide>
      <!-- <ion-slide>
        <div class="box">
          <img src="img/mainImg5.png" class="img-responsive center-block">
          <div class="word-front center-block">
            <h3>建设美丽浙江 创造美好生活</h3>
            <h4>浙江省直机关“智慧团青”APP</h4>
          </div>
        </div>
      </ion-slide> -->
    </ion-slide-box>

    <div class="padding position">
      <div class="background-img"><img src="img/main_backimg_fade.png" alt="钱塘江" class="img-responsive center-block"></div>
      <div class="row no-padding">
        <div class="col no-padding">
<!--           <open-external url="url.news.url"
                         cookie="cookie"
                         exit="closeBrowser()"
                         load-open="loadOpen()"
                         load-stop="loadStop()"
                         load-error="loadError()">
            <img src="img/badge.png" alt="团徽" class="img-responsive center-block cell-img">团青时讯
          </open-external> -->
          <a href="#/main/news" class="button center-block background-clear">
            <!-- <img src="img/badge.png" alt="团徽" class="img-responsive center-block cell-img"> -->
            <span class="img-responsive center-block cell-img img-size" style="color:#368ff4;"> 
              <i class="icon ion-information-circled">
              </i>
            </span>
            团青时讯
          </a>
        </div>
        <div class="col no-padding">
          <a href="#/main/knowlbase" class="button center-block background-clear">
            <!-- <img src="img/badge.png" alt="团徽" class="img-responsive center-block cell-img"> -->
            <span class="img-responsive center-block cell-img img-size" style="color:#747ae8;"> 
              <i class="icon ion-android-share">
              </i>
            </span>
            智汇共享
          </a>
        </div>
        <div class="col no-padding">
          <a href="#/main/link" class="button center-block background-clear">
            <!-- <img src="img/badge.png" alt="团徽" class="img-responsive center-block cell-img"> -->
            <span class="img-responsive center-block cell-img img-size" style="color:#ff6779;"> 
              <i class="icon ion-link">
              </i>
            </span>
            智慧链接
          </a>
        </div>
      </div>
      <div class="row no-padding">
        <div class="col no-padding">
          <a href="#/main/brand" class="button center-block background-clear">
            <!-- <img src="img/badge.png" alt="团徽" class="img-responsive center-block cell-img"> -->
            <span class="img-responsive center-block cell-img img-size" style="color:#0fc4d9;"> 
              <i class="icon ion-ios7-star">
              </i>
            </span>
            一团一品
          </a>
        </div>
        <div class="col no-padding">
          <a href="#/main/career" class="button center-block background-clear">
            <!-- <img src="img/badge.png" alt="团徽" class="img-responsive center-block cell-img"> -->
            <span class="img-responsive center-block cell-img img-size" style="color:#da7cd0;"> 
              <i class="icon ion-social-usd">
              </i>
            </span>
            青年创业
          </a>
        </div>
        <div class="col no-padding">
          <a href="#/main/love" class="button center-block background-clear">
            <!-- <img src="img/badge.png" alt="团徽" class="img-responsive center-block cell-img"> -->
            <span class="img-responsive center-block cell-img img-size" style="color:#84d018;"> 
              <i class="icon ion-person-stalker">
              </i>
            </span>
            智会相亲
          </a>
        </div>
      </div>
      <div class="row no-padding">
        <div class="col no-padding">
          <a href="#/main/beauty" class="button center-block background-clear">
            <!-- <img src="img/badge.png" alt="团徽" class="img-responsive center-block cell-img"> -->
            <span class="img-responsive center-block cell-img img-size" style="color:#FF0000;"> 
              <i class="icon ion-heart">
              </i>
            </span>
            最美浙江
          </a>
        </div>
        <div class="col no-padding">
          <a href="#/main/life" class="button center-block background-clear">
            <!-- <img src="img/badge.png" alt="团徽" class="img-responsive center-block cell-img"> -->
            <span class="img-responsive center-block cell-img img-size" style="color:#f3b613;"> 
              <i class="icon ion-fork">
              </i>
            </span>
            智惠生活
          </a>
        </div>
        <div class="col no-padding">
<!--           <open-external url="url.sysmgmt.url"
                         exit="closeBrowser()"
                         load-open="loadOpen()"
                         load-stop="loadStop()"
                         load-error="loadError()">
            <img src="img/badge.png" alt="团徽" class="img-responsive center-block cell-img">系统管理
          </open-external> -->
          <a mine-href class="button center-block background-clear">
            <!-- <img src="img/badge.png" alt="团徽" class="img-responsive center-block cell-img"> -->
            <span class="img-responsive center-block cell-img img-size" style="color:#ff864a;"> 
              <i class="icon ion-gear-a">
              </i>
            </span>
            我的定制
          </a>
        </div>
      </div>
    </div>

    <!-- 用于事先写入cookie -->
    <!-- <iframe-set-cookie></iframe-set-cookie>
    <iframe id="setcookie" name="setcookie" src="http://17f.go5le.net/postMessage.asp" style="display:none"></iframe> -->

    <!-- 用于事先写入cookie，自动写入方法，和directives.js:42配合使用：done，加到main.html中 -->
    <!-- <iframe-set-cookie id="setcookie" src="http://17f.go5le.net/postMessage.asp" style="display:none"></iframe-set-cookie> -->
    

  </ion-content>

  <ng-include src="'templates/common/footer.html'"></ng-include>

  <!-- <ion-footer-bar class="bar-stable no-padding" ng-include="'templates/common/footer.html'">
    <div class="tabs tabs-icon-top">
      <a class="tab-item" href="#/main/default">
        <i class="icon ion-ios7-home"></i>
        首页
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        收藏
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        管理
      </a>
      <a class="tab-item" href="#/main/mine">
        <i class="icon ion-person"></i>
        我的
      </a>
      <a class="tab-item" mine-href>
        <i class="icon ion-person"></i>
        我的
      </a>
    </div>
  </ion-footer-bar> -->

</ion-view>