<!-- <ion-view> -->

<!--   <ion-nav-bar class="bar-stable nav-title-slide-ios7"> -->
      <!-- <ion-nav-back-button class="button-clear hide"><i class="icon ion-ios7-arrow-back"></i> </ion-nav-back-button> --><!-- 前面这句废弃 -->
<!--       <ion-nav-buttons side="left">
        <button class="button button-clear" custom-go-back>
          <i class="icon ion-ios7-arrow-back"></i>
        </button>
      </ion-nav-buttons>
  </ion-nav-bar> -->

  <ion-content scroll="true" overflow-scroll="true" class="iframe-wrapper">
    <iframe seamless name="love" src="http://17f.go5le.net/99_tj/27/index_ds.asp"></iframe>
    <button class="button button-block" wechat-share>分享到微信 by Wechat</button>
    <button class="button button-block button-light" onclick="window.plugins.socialsharing.share('这是一条信息')">信息</button>
    <button class="button button-block button-stable" onclick="window.plugins.socialsharing.share('信息和主题', '主题')">信息和主题</button>
    <input class="button button-block button-positive" social-sharing value="directive链接" />
    <button class="button button-block button-calm" onclick="window.plugins.socialsharing.share('信息和链接', null, null, 'http://17f.go5le.net/')">信息和链接</button>
    <button class="button button-block button-balanced" onclick="window.plugins.socialsharing.share(null, null, 'http://17f.go5le.net/bootstrap-3.1.1/img/mainImg3.png', null)">图片</button>
    <button class="button button-block button-energized" onclick="window.plugins.socialsharing.share(null, '图片名叫Kiss', 'data:image/png;base64,R0lGODlhDAAMALMBAP8AAP///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAUKAAEALAAAAAAMAAwAQAQZMMhJK7iY4p3nlZ8XgmNlnibXdVqolmhcRQA7', null)">base64图片</button>
    <button class="button button-block button-assertive" onclick="window.plugins.socialsharing.share('信息和图片', null, 'http://17f.go5le.net/bootstrap-3.1.1/img/mainImg3.png', null)">信息和图片</button>
    <button class="button button-block button-royal" onclick="window.plugins.socialsharing.share('信息、图片和链接', null, 'http://17f.go5le.net/bootstrap-3.1.1/img/mainImg3.png', 'http://17f.go5le.net/')">信息、图片和链接</button>
    <button class="button button-block button-dark" onclick="window.plugins.socialsharing.share('信息、主题、图片和链接', '主题', 'http://17f.go5le.net/bootstrap-3.1.1/img/mainImg3.png', 'http://17f.go5le.net/')">信息、主题、图片和链接</button>
  </ion-content>

  <ion-footer-bar class="bar-stable no-padding">
    <div class="tabs tabs-icon-top">
      <a class="tab-item" href="#/main/default">
        <i class="icon ion-ios7-home"></i>
        首页
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        收藏
      </a>
      <a class="tab-item" social-sharing>
        <i class="icon ion-gear-a"></i>
        转发
      </a>
      <a class="tab-item" mine-href>
        <i class="icon ion-person"></i>
        我的
      </a>
    </div>
  </ion-footer-bar>

<!-- </ion-view> -->