<style type="text/css">
.margin-left{
  margin-left: 0;
  padding-left:  0;
}
</style>
<ion-view>
  <ion-header-bar class="bar-positive" align-title="center">
      
    <h1 class="title">
      <a style="text-decoration:none">书海情缘<img src="img/badge.png" width="25">91私人制定</a>
    </h1>
    <div class="buttons">
    <button class="button button-clear" ng-click="openPopover($event)"><i class="icon ion-navicon-round"></i></button>
    </div>



  </ion-header-bar>
  <ion-content class="has-footer">
    <ion-list class="no-padding">
      <ion-item>
        <div class="lovelist row">
          <div class="col col-20" >单位</div>
          <div class="col"><input type="text" class="input-text"></div>
          <div class="col col-20" >姓名</div>
          <div class="col"><input type="text" class="input-text"></div>
        </div>
        <div class="genderlist row">
          <div class="col">
          单身男生
          <input type="radio" name="gender" value="单身男生" checked="checked"></div>
          <div class="col">
          单生女生
          <input type="radio" name="gender" value="单身女生"></div>
        </div>
        <div class="row">
          <button class="button button-assertive button-block" style="margin:auto">查找</button>
        </div>
      </ion-item>
      <ion-item><img ng-src="img/badge.png" /></ion-item>
      <ion-item ng-repeat="item in items">
        <p class="lovefirstline">姓名：{{item.name}} 性别：{{item.gender}} 年龄：{{item.age}}</p>
        <p class="lovesecondline">所在单位：{{item.company}}</p>
        <p class="lovethirdline">地址：{{item.address}}</p>
        <p class="loveforthline">[个人爱好]…</p>
        <hr>
        <button class="button  icon-left ion-chatboxes button-clear button-assertive margin-left" >了解我</button>
        <button class="button   button-clear button-assertive"><img src="img/badge.png" width="16">留言</button>
        <button class="button  icon-left ion-ios7-telephone button-clear button-assertive">{{item.tel}}</button>
      </ion-item>
      
    </ion-list>
  </ion-content>

<ng-include src = "'footer.html'"></ng-include>
</ion-view>

  <script id="footer.html" type="text/ng-template">
      
  <ion-footer-bar class="bar-stable no-padding">
    <div class="tabs tabs-icon-top">
      <a class="tab-item" href="#/main/default"> <i class="icon ion-ios7-home"></i>
        首页
      </a>
      <a class="tab-item" href="#"> <i class="icon ion-star"></i>
        收藏
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        管理
      </a>
      <a class="tab-item" mine-href>
        <i class="icon ion-person"></i>
        我的
      </a>
    </div>
  </ion-footer-bar>
      
  </script>

<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">My Popover Title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-popover-view>
</script>