<ion-view title="活动超市">

  <ion-header-bar class="bar-positive" align-title="center">
    <img src="img/badge.png" width="33">  
    <h1 class="title">
      <a href="#/main/nlink" style="text-decoration:none">活动超市</a>
    </h1>
    <div class="buttons">
    <button class="button button-clear" ng-click="openPopover($event)"><i class="icon ion-navicon-round"></i></button>
    </div>



  </ion-header-bar>
  <!-- <ion-content scroll="true" overflow-scroll="true" class="nne" auto-play="true"> -->
   

  <ion-tabs class="tabs-positive tabs-icon-only  tabs-top ">

    <ion-tab title="评比活动" >
      <ion-content class="has-footer">
        <ion-list>
        <ion-item ng-repeat="item in items" class="item"><img ng-src="{{item.imgsrc}}" /><a href="#/main/nlistt" >Hello, {{item.id}}!</a></ion-item>
          <ion-item>
            <button class="button center-block icon-right ion-chevron-right">
              了解更多
            </button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

    <ion-tab title="部门活动" >
      <ion-content class="has-footer">
        <ion-list>
          <ion-item ng-repeat="item in items" class="item">Hello, {{item.id}}!</ion-item>
          <ion-item>
            <button class="button center-block icon-right ion-chevron-right">
              了解更多
            </button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

    <ion-tab title="支部活动">
      <ion-content class="has-footer">
        <ion-list>
          <ion-item ng-repeat="item in items" class="item item-thumbnail-right"><img ng-src="{{item.imgsrc}}" />Hello, {{item.id}}!</ion-item>
          <ion-item>
            <button class="button center-block icon-right ion-chevron-right">
              了解更多
            </button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

    <ion-tab title="活动回顾">
      <ion-content class="has-footer">
        <ion-list>
          <ion-item ng-repeat="item in items" class="item"><img ng-src="{{item.imgsrc}}" />Hello, {{item.id}}!</ion-item>
          <ion-item>
            <button class="button center-block icon-right ion-chevron-right">
              了解更多
            </button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

  </ion-tabs>





<ng-include src = "'footer.html'"></ng-include>
</ion-view>

  <script id="footer.html" type="text/ng-template">
      
  <ion-footer-bar class="bar-stable no-padding">
    <div class="tabs tabs-icon-top">
      <a class="tab-item" href="#/main/default"> <i class="icon ion-ios7-home"></i>
        首页
      </a>
      <a class="tab-item" href="#"> <i class="icon ion-star"></i>
        收藏
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        管理
      </a>
      <a class="tab-item" mine-href>
        <i class="icon ion-person"></i>
        我的
      </a>
    </div>
  </ion-footer-bar>
      
  </script>

  <script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">My Popover Title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-popover-view>
</script>
