<ion-view title="活动页">

  <ion-header-bar class="bar-positive" align-title="center">
    <img src="img/badge.png" width="33">  
    <h1 class="title">
      <a href="#/main/nlistt" style="text-decoration:none">【2014年青年文明号创建】</a>
    </h1>
    <div class="buttons">
    <button class="button button-clear" ng-click="openPopover($event)"><i class="icon ion-navicon-round"></i></button>
    </div>



  </ion-header-bar>


  <ion-slide-box does-continue="true" slide-interval="3000" auto-play="true" class="ad-banner has-header">
    <ion-slide>
      <div class="box">
        <img src="img/badge.png" class="img-responsive center-block">  
        <!-- <div class="word-front center-block">  
        <h3>建设美丽浙江 创造美好生活</h3>
        <h4>浙江省直机关“智慧团青”</h4>
      </div>
      -->
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box">
      <img src="tj3.png" class="img-responsive center-block">  
      <!-- <div class="word-front center-block">  
      <h3>建设美丽浙江 创造美好生活</h3>
      <h4>浙江省直机关“智慧团青”APP</h4>
    </div>
    -->
  </div>
  </ion-slide>

  </ion-slide-box>

  <ion-tabs class="tabs-positive tabs-icon-only  tabs-top tabs-top-ad-banner">

    <ion-tab title="详情" >
      <ion-content class="has-footer">
        <div class="list card">
          <div class="item">
            <div class="zerolist row">
              <div class="col col-33 limitheight">所需积分:</div>
              <div class="col limitheight">壹积分</div>
            </div>
            <div class="onelist row">
              <div class="col col-33" >参加人:</div>
              <div class="col">
                <input type="text" class="input-text"></div>
            </div>
            <div class="twolist row">
              <div class="col col-33" >联系电话:</div>
              <div class="col">
                <input type="text" class="input-text"></div>
            </div>
            <div class="threelist row">
              <div class="col col-33" >报名数目:</div>
              <div class="col">
                <input type="text" class="input-text"></div>
            </div>
            <div class="button-line row">
              <button class="button button-assertive button-font">我要报名</button>
              <span>
                <button class="button button-assertive button-font">切换登录</button>
              </span>
            </div>
          </div>

          <div class="item item-body">
            <p>【报名截止】离 2014-1-1仅-258天</p>
            <p>【活动时间】2014-1-1</p>
            <p>【详情说明】</p>
            <p>
              一、为了引导和激励广大青年职工弘扬“敬业、协作、创优、奉献”的职业精神，在推动科学发展、促进社会和谐的实践中成长成才、建功立业，浙江省青年文明号活动组委会组织开展青年文明号创建活动。
            </p>
            <div class="subdue">
              <a href="#" class="subdued">发布:浙江省团建</a>
              <span><a href="#" class="subdued">[我的报名]</a></span>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-tab>
    <ion-tab title="评价" >
      <ion-content class="has-footer">
        <div class="list card">
          <div class="item item-body">
            <button class="button button-royal button-block icon-right ion-chevron-right ">查看更多</button>
            <div class="item">
              <div class="lili">
                用户
                <span>评论有积分奖励</span>
              </div>
              <br>    
              <label class="item item-input">
                <textarea placeholder="Comments">233</textarea>
              </label>
              <br>    
              <button class="button button-assertive  icon-right ion-chevron-right">确认阅读</button>
            </div>
          </div>
          <br>    
          <div class="item item-body">
            <button class="button button-royal button-block icon-right ion-chevron-right ">活动评价</button>
            <ion-list>
              <ion-item ng-repeat="item in items" class="item item-thumbnail-left">
                <img ng-src="{{item.imgsrc}}" />    
                Hello, {{item.id}}!
              </ion-item>
            </ion-list>

            <div class="subdue">
              <a href="#" class="subdued">发布:浙江省团建</a>
              <span>
                <a href="#" class="subdued">[我的报名]</a>
              </span>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-tab>

    <ion-tab title="相关详情" href="#/main/nlistf">
      <ion-content class="has-footer">
       
      </ion-content>
    </ion-tab>

  </ion-tabs>


<ng-include src = "'footer.html'"></ng-include>
</ion-view>

  <script id="footer.html" type="text/ng-template">
      
  <ion-footer-bar class="bar-stable no-padding">
    <div class="tabs tabs-icon-top">
      <a class="tab-item" href="#/main/default"> <i class="icon ion-ios7-home"></i>
        首页
      </a>
      <a class="tab-item" href="#"> <i class="icon ion-star"></i>
        收藏
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        管理
      </a>
      <a class="tab-item" mine-href>
        <i class="icon ion-person"></i>
        我的
      </a>
    </div>
  </ion-footer-bar>
      
  </script>

  <script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">My Popover Title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-popover-view>
</script>
