<ion-view title="活动跟踪">

  <ion-header-bar class="bar-positive" align-title="center">
    <img src="img/badge.png" width="33">  
    <h1 class="title">
      <a href="#/main/nlistf" style="text-decoration:none">活动跟踪</a>
    </h1>
    <div class="buttons">
    <button class="button button-clear" ng-click="openPopover($event)"><i class="icon ion-navicon-round"></i></button>
    </div>



  </ion-header-bar>
  <!-- <ion-content scroll="true" overflow-scroll="true" class="nne" auto-play="true"> -->
   

  <ion-tabs class="tabs-positive tabs-icon-only  tabs-top ">

    <ion-tab title="说明" >
      <ion-content class="has-footer">
        <div class="item item-body">
          <p>
            一、为了引导和激励广大青年职工弘扬“敬业、协作、创优、奉献”的职业精神，在推动科学发展、促进社会和谐的实践中成长成才、建功立业，浙江省青年文明号活动组委会组织开展青年文明号创建活动。
          </p>
        </div>
      </ion-content>
    </ion-tab>

    <ion-tab title="规则" >
      <ion-content class="has-footer">
        <div class="item item-body">
          <p>
            一、为了引导和激励广大青年职工弘扬“敬业、协作、创优、奉献”的职业精神，在推动科学发展、促进社会和谐的实践中成长成才、建功立业，浙江省青年文明号活动组委会组织开展青年文明号创建活动。
          </p>
        </div>     
      </ion-content>
    </ion-tab>

    <ion-tab title="评论">
      <ion-content class="has-footer">
        <div class="list card">
          <div class="item item-body">
            <button class="button button-royal button-block icon-right ion-chevron-right ">查看更多</button>
            <div class="item">
              <div class="lili">
                用户
                <span>评论有积分奖励</span>
              </div>
              <br>      
              <label class="item item-input">
                <textarea placeholder="Comments">233</textarea>
              </label>
              <br>      
              <button class="button button-assertive  icon-right ion-chevron-right">确认阅读</button>
            </div>
          </div>
          <br>      
          <div class="item item-body">
            <button class="button button-royal button-block icon-right ion-chevron-right ">活动评价</button>
            <ion-list>
              <ion-item ng-repeat="item in items" class="item item-thumbnail-left">
                <img ng-src="{{item.imgsrc}}" />      
                Hello, {{item.id}}!
              </ion-item>
            </ion-list>

            <div class="subdue">
              <a href="#" class="subdued">发布:浙江省团建</a>
              <span>
                <a href="#" class="subdued">[我的报名]</a>
              </span>
            </div>
          </div>
        </div>
        
      </ion-content>
    </ion-tab>

    <ion-tab title="报道" >
      <ion-content class="has-footer">
        <ion-list>
          <ion-item ng-repeat="item in items" class="item item-thumbnail-right">
            <img ng-src="{{item.imgsrc}}" />      
            Hello, {{item.id}}!
          </ion-item>
          
        </ion-list>

      </ion-content>
    </ion-tab>

    <ion-tab title="回顾" >
      <ion-content class="has-footer">
        <ion-list>
          <ion-item ng-repeat="item in items" class="item item-thumbnail-right">
            <img ng-src="{{item.imgsrc}}" />      
            Hello, {{item.id}}!
          </ion-item>
          
        </ion-list>

      </ion-content>
    </ion-tab>

    <ion-tab title="参选" >
      <ion-content class="has-footer">
        <ion-list>
          <ion-item ng-repeat="item in items" class="item item-thumbnail-right">
            <img ng-src="{{item.imgsrc}}" />      
            Hello, {{item.id}}!
          </ion-item>
          
        </ion-list>

      </ion-content>
    </ion-tab>

    <ion-tab title="更多" href="#/main/largeactivities" >
      <ion-content class="has-footer">

      </ion-content>
    </ion-tab>
    

  </ion-tabs>





<ng-include src = "'footer.html'"></ng-include>
</ion-view>

  <script id="footer.html" type="text/ng-template">
      
  <ion-footer-bar class="bar-stable no-padding">
    <div class="tabs tabs-icon-top">
      <a class="tab-item" href="#/main/default"> <i class="icon ion-ios7-home"></i>
        首页
      </a>
      <a class="tab-item" href="#"> <i class="icon ion-star"></i>
        收藏
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        管理
      </a>
      <a class="tab-item" mine-href>
        <i class="icon ion-person"></i>
        我的
      </a>
    </div>
  </ion-footer-bar>
      
  </script>

  <script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">My Popover Title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-popover-view>
</script>
