<ion-view title="团青时讯">

  <ion-header-bar class="bar-positive" align-title="center">
    <img src="img/badge.png" width="33">  
    <h1 class="title">
      <a href="#/main/nlisto" style="text-decoration:none">团青时讯</a>
    </h1>
    <div class="buttons">
    <button class="button button-clear" ng-click="openPopover($event)"><i class="icon ion-navicon-round"></i></button>
    </div>
  </ion-header-bar>
  <!-- <ion-content scroll="true" overflow-scroll="true" class="nne" auto-play="true">  
  -->


  <ion-content class="has-footer">

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/badge.png">    
        <h2>标题</h2>
        <p>日期：2014.09.12</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="img/badge.png">    
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>正式文本内容。</p>

      </div>
      <br>      
      <div class="item item-body">
        <button class="button button-royal button-block icon-right ion-chevron-right ">查看更多</button>
        <div class="item">
          <div class="lili">
            用户
            <span>评论有积分奖励</span>
          </div>
          <br>      
          <label class="item item-input">
            <textarea placeholder="Comments">233</textarea>
          </label>
          <br>      
          <button class="button button-assertive  icon-right ion-chevron-right">确认阅读</button>
        </div>
      </div>
      <br>      
      <div class="item item-body">
        <button class="button button-royal button-block icon-right ion-chevron-right ">活动评价</button>
        <ion-list>
          <ion-item ng-repeat="item in items" class="item item-thumbnail-left">
            <img ng-src="{{item.imgsrc}}" />      
            Hello, {{item.id}}!
          </ion-item>
          
        </ion-list>
        <div class="back-top">
          <span><img src="img/badge.png" class="mes-top"></span>
        </div>
      </div>
      

    </div>
  </ion-content>

  

<ng-include src = "'footer.html'"></ng-include>
</ion-view>

  <script id="footer.html" type="text/ng-template">
      
  <ion-footer-bar class="bar-stable no-padding">
    <div class="tabs tabs-icon-top">
      <a class="tab-item" href="#/main/default"> <i class="icon ion-ios7-home"></i>
        首页
      </a>
      <a class="tab-item" href="#"> <i class="icon ion-star"></i>
        收藏
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        管理
      </a>
      <a class="tab-item" mine-href>
        <i class="icon ion-person"></i>
        我的
      </a>
    </div>
  </ion-footer-bar>
      
  </script>

  <script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">My Popover Title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-popover-view>
</script>
