<ion-view title="团青时讯">

  <ion-header-bar class="bar-positive" align-title="center">
    <img src="img/badge.png" width="33">  
    <h1 class="title">
      <a href="#/main/nnews" style="text-decoration:none">团青时讯</a>
    </h1>
    <div class="buttons">
    <button class="button button-clear" ng-click="openPopover($event)"><i class="icon ion-navicon-round"></i></button>
    </div>



  </ion-header-bar>
  <!-- <ion-content scroll="true" overflow-scroll="true" class="nne" auto-play="true"> -->
    <ion-slide-box does-continue="true" slide-interval="3000" auto-play="true" class="ad-banner has-header">
      <ion-slide>
        <div class="box">
          <img src="img/badge.png" class="img-responsive center-block">  
          <!-- <div class="word-front center-block">
            <h3>建设美丽浙江 创造美好生活</h3>
            <h4>浙江省直机关“智慧团青”</h4>
          </div> -->
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <img src="tj3.png" class="img-responsive center-block">      
          <!-- <div class="word-front center-block">
            <h3>建设美丽浙江 创造美好生活</h3>
            <h4>浙江省直机关“智慧团青”APP</h4>
          </div> -->
        </div>
      </ion-slide>
   
  </ion-slide-box>

  <ion-tabs class="tabs-positive tabs-icon-only  tabs-top">

    <ion-tab title="通知公告" >
      <ion-content class="has-footer">
        <ion-list>
          <ion-item ng-repeat="item in items"><img ng-src="{{item.imgsrc}}" />Hello, {{item.id}}!</ion-item>
          <ion-item>
            <button class="button center-block icon-right ion-chevron-right">
              了解更多
            </button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

    <ion-tab title="团讯要闻" >
      <ion-content class="has-footer">
        <ion-list>
          <ion-item ng-repeat="item in items"><img ng-src="{{item.imgsrc}}" />Hello, {{item.id}}!</ion-item>
          <ion-item>
            <button class="button center-block icon-right ion-chevron-right">
              了解更多
            </button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

    <ion-tab title="头条新闻">
      <ion-content class="has-footer">
        <ion-list>
          <ion-item ng-repeat="item in items"><img ng-src="{{item.imgsrc}}" />Hello, {{item.id}}!</ion-item>
          <ion-item>
            <button class="button center-block icon-right ion-chevron-right">
              了解更多
            </button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

  </ion-tabs>


 

    

       <!-- <div class="slide_content">
         <div class="tabslider" style="margin-left: -960px;">
           <div>&nbsp;</div>
           <ul>

             <li>
               <a href="#main/nlisto" title="省政协机关团委看望结对学生" rel="external" data-transition="slide">
                 <table width="98%">
                   <tbody>
                     <tr>
                       <td>省政协机关团委看望结对学生</td>
                       <td width="85" align="center">
                         <img src="img/badge.png" width="85"></td>
                     </tr>
                   </tbody>
                 </table>
               </a>
               <span> <em>浏览
  59次</em> 
                 2014-8-25
               </span>
             </li>
             

             <li>
               <center>
                 <a class="more_h" href="embedded.asp?no=&amp;lx=通知公告">
                   <img src="img/button.jpg"></a>
               </center>
             </li>

           </ul>
           <ul>

             <li>
               <a href="#main/nlisto" title="省政协机关团委看望结对学生" rel="external" data-transition="slide">
                 <table width="98%">
                   <tbody>
                     <tr>
                       <td>省政协机关团委看望结对学生</td>
                       <td width="85" align="center">
                         <img src="img/badge.png" width="85"></td>
                     </tr>
                   </tbody>
                 </table>
               </a>
               <span> <em>浏览
  59次</em> 
                 2014-8-25
               </span>
             </li>
             

             <li>
               <center>
                 <a class="more_h" href="embedded.asp?no=&amp;lx=通知公告">
                   <img src="img/button.jpg"></a>
               </center>
             </li>

           </ul>
           <ul>

             <li>
               <a href="#main/nlisto" title="省政协机关团委看望结对学生" rel="external" data-transition="slide">
                 <table width="98%">
                   <tbody>
                     <tr>
                       <td>省政协机关团委看望结对学生</td>
                       <td width="85" align="center">
                         <img src="img/badge.png" width="85"></td>
                     </tr>
                   </tbody>
                 </table>
               </a>
               <span> <em>浏览
  59次</em> 
                 2014-8-25
               </span>
             </li>
             

             <li>
               <center>
                 <a class="more_h" href="embedded.asp?no=&amp;lx=通知公告">
                   <img src="img/button.jpg"></a>
               </center>
             </li>

           </ul>  

         </div>
         <br style="clear:both"></div>




     <div id="top">
     <img src="img/top_icon_31x11.png" id="goTopBtn"></div> -->

<!-- footer begin -->

<!--<div style="position:fixed; text-align:center; left:0px; bottom:0px; _position:absolute; width:100%; background:url(../../41/images/btbg.png) repeat-x scroll 0 0; height:40px;">
<br>
<li style="width:100%; float:left; height:44px; background:url(../../41/images/btbg.png) no-repeat right center;">
<footer>
<p class="fontArial">浙江省直机关团工委（内部交流）</p>
</footer footer end
  </li>
</div>
-->
    



<ng-include src = "'footer.html'"></ng-include>
</ion-view>

  <script id="footer.html" type="text/ng-template">
      
  <ion-footer-bar class="bar-stable no-padding">
    <div class="tabs tabs-icon-top">
      <a class="tab-item" href="#/main/default"> <i class="icon ion-ios7-home"></i>
        首页
      </a>
      <a class="tab-item" href="#"> <i class="icon ion-star"></i>
        收藏
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        管理
      </a>
      <a class="tab-item" mine-href>
        <i class="icon ion-person"></i>
        我的
      </a>
    </div>
  </ion-footer-bar>
      
  </script>

  <script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">My Popover Title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-popover-view>
</script>
