<ion-view title="信息搜索页">

  <ion-header-bar class="bar-positive" align-title="center">
    <img src="img/badge.png" width="33">  
    <h1 class="title">
      <a href="#/main/search" style="text-decoration:none">信息搜索页</a>
    </h1>
    <div class="buttons">
    <button class="button button-clear" ng-click="openPopover($event)"><i class="icon ion-navicon-round"></i></button>
    </div>



  </ion-header-bar>
  <!-- <ion-content scroll="true" overflow-scroll="true" class="nne" auto-play="true"> -->
    <ion-slide-box does-continue="true" slide-interval="3000" auto-play="true" class="ad-banner has-header">
      <ion-slide>
        <div class="box">
          <img src="img/badge.png" class="img-responsive center-block">  
          <!-- <div class="word-front center-block">
            <h3>建设美丽浙江 创造美好生活</h3>
            <h4>浙江省直机关“智慧团青”</h4>
          </div> -->
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <img src="tj3.png" class="img-responsive center-block">      
          <!-- <div class="word-front center-block">
            <h3>建设美丽浙江 创造美好生活</h3>
            <h4>浙江省直机关“智慧团青”APP</h4>
          </div> -->
        </div>
      </ion-slide>
   
  </ion-slide-box>

  <ion-tabs class="tabs-positive tabs-icon-only  tabs-top tabs-top-ad-banner">

    <ion-tab title="通知公告" >
      <ion-content class="has-footer">
        <ion-list>
          <ion-item>

            <div class="searchlist row">
              <div class="col col-10" >主题</div>
              <div class="col">
                <input type="text" class="input-text" placeholder="主题内容"></div>
              <div class="col col-10" >时间</div>
              <div class="col">
                <input type="text" class="input-text" placeholder="开始时间"></div>
              <div class="helpline col col-10">------  </div>
              <div class="col">
                <input type="text" class="input-text" placeholder="截止时间"></div>
                <button class="button button-assertive button-small" style="margin:auto">查找</button>
            </div>
            

           <!--  <div class="list">
              <label class="item item-input">
                <input type="text" placeholder="主题内容"></label>
                <br>
              <label class="item item-input">
                <input type="text" placeholder="开始时间"></label>
                <br>
              <label class="item item-input">
                <input type="text" placeholder="截止时间"></label>
                <br>
              <button class="button button-assertive" style="margin:auto">查找</button>
            </div> -->

          </ion-item>

          <ion-item ng-repeat="item in items" class="item item-thumbnail-right">
            <img ng-src="{{item.imgsrc}}" />        
            <a href="#/main/nlisto" >Hello, {{item.id}}!</a>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

   

  </ion-tabs>


 



<ng-include src = "'footer.html'"></ng-include>
</ion-view>

  <script id="footer.html" type="text/ng-template">
      
  <ion-footer-bar class="bar-stable no-padding">
    <div class="tabs tabs-icon-top">
      <a class="tab-item" href="#/main/default"> <i class="icon ion-ios7-home"></i>
        首页
      </a>
      <a class="tab-item" href="#"> <i class="icon ion-star"></i>
        收藏
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        管理
      </a>
      <a class="tab-item" mine-href>
        <i class="icon ion-person"></i>
        我的
      </a>
    </div>
  </ion-footer-bar>
      
  </script>

  <script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">My Popover Title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-popover-view>
</script>
