<ion-view>

<!--   <ion-nav-bar class="bar-stable nav-title-slide-ios7"> -->
      <!-- <ion-nav-back-button class="button-clear hide"><i class="icon ion-ios7-arrow-back"></i> </ion-nav-back-button> --><!-- 前面这句废弃 -->
<!--       <ion-nav-buttons side="left">
        <button class="button button-clear" custom-go-back>
          <i class="icon ion-ios7-arrow-back"></i>
        </button>
      </ion-nav-buttons>
  </ion-nav-bar> -->
  <link rel="stylesheet" type="text/css" href="css/m_index_style-20130715142717.css" media="screen">
  <link rel="stylesheet" type="text/css" href="css/add2home.css" media="screen">

  <ion-content scroll="true" overflow-scroll="true" class="">


    <div class="mbt-page">

      <!--201209_移动站_公共头-->    
      <header>
        <!--<img src="img/f20b58e9-72b1-44ac-b000-92b4740ed4f2.png">    
        -->
        <img src="img/logo.jpg" height="50">    
        <!--  <div class="m-download" id="m_download_top">    
        <div class="m-download-apple"></div>
        <a href="../ly_edit_sj1.asp?staff_id=91&qy=浙江省团建">我要求助</a>
      </div>
      -->
    </header>

    <!--201209_移动站_公共导航-->    
    <nav class="m-nav">
      <ul>
        <li>
          <a href="#main/beauty">
            <img src="img/home1.png" width="25"></a>
          <s></s>
        </li>
        <li>
          <a href="#main/bankoftime">心理一解一</a>
          <s></s>
        </li>
        <li>
          <a href="#main/bankoftime">时间银行</a>
          <s></s>
        </li>
        <li class="current">
          <a href="#main/special">特色服务</a>
          <s></s>
        </li>
        <!--<li  class="current" >    
        <a href="zhengwen.asp?no=91&ww=2&lx=众筹公益">众筹公益</a>
        <s></s>
      </li>
      <li >
        <a href="chanpin.asp?no=91&ww=3&lx=生态环保">环保</a>
        <s></s>
      </li>
      <li >
        <a href="lx.asp?no=91&ww=5&lx=便民服务">便民</a>
        <s></s>
      </li>
      -->
    </ul>
    </nav>

    <!-- <section class="m-search m-search-sou">    
    <div class="m-input-close-box">
    <input type="search" id="txtkeyword" size="10" onkeydown="redirectBEnter(event)" />    
    <div class="m-input-close" id="txtclear" style="display: none;"></div>
    </div>
    <input type="submit" id="sugsubmit" value="" onclick="redirect()" />    
    <div class="m-sug" id="div_so_pop"></div>
    <script type="text/javascript" src="http://image.bitautoimg.com/bsearch/mobileScript/moblieSug20130409.min.js?v2"></script>
    <script type="text/javascript">
    new m_cheyisou_suggest(
    {
        input: document.getElementById("txtkeyword"),
        close: document.getElementById("txtclear"),
        sugdiv: document.getElementById("div_so_pop"),
        submit: document.getElementById("sugsubmit"),
        sugtype: "-100",
        encode: "utf-8",
        overclass: "current"
    });
</script>
    </section>
    -->
    <!-- top search end -->    
    <!-- 201209_移动站_首页_车型导航  filter start -->    
    <!--  <section class="m-index-filter">    
    <ul>
    <li class="m-btn-gray">
    <a href="#">按品牌</a>
    </li>
    <li class="m-btn-gray">
    <a href="#">按价格</a>
    </li>
    <li class="m-btn-gray">
    <a href="#">按级别</a>
    </li>
    </ul>
    </section>
    -->
    <!-- filter end -->    
    <div class="clear"></div>
    <!-- 焦点图 start -->    

    <!-- 焦点图 end -->    
    <section class="m-line-box">
    <!-- tabs start -->    
    <div class="m-tabs-box">
    <ul id="ulFocusNews" class="m-tabs">
    <li class="current">
      <span>
        特色服务
        <s></s>
      </span>
    </li>
    </ul>

    </div>

    <!-- tabs end -->    
    <div id="FocusNews0">
    <!-- <ul class="m-pic-news" id="focusNewsTu">    

    <li>
    <a href="#">
      <img src="../../admin_manage/upload_tp1/UploadFiles/2014821101518632.png"></a>
    <dl>
      <dt>
        <a href="#" >
          <P>&nbsp;</P>
          <P align=center>
            <IMG style="WIDTH: 302px; HEIGHT: 142px" src="http://mmbi...<font color="#D0DCE8"></font>
        </a>
      </dt>
      <dd></dd>
    </dl>
    </li>
    </ul>
    -->
    <div class="clear"></div>
    <ul class="m-news-list m-news-list-tablet" id="focusNewsList">

    <li class="active ">
    <div data-id="142" class="js_gotoNewsDetail">
      <h3 class="newsTitle"> <em class="icon"></em>
        <span class="name">
          <a href="zhengwen.asp?id=131950">
            ●省政协机关团委开展“送书送器材下... <font color="#D0DCE8"></font>
          </a>

        </span>
      </h3>

    </div>
    </li>

    </ul>
    </div>
    <hr>    
    <center> <font size="3">第1页首页 上一页&nbsp;下一页 尾页
  总1条</font> 
    </center>

    <div id="FocusNews3" style="display:none">
    <a class="m-btn-more-news m-btn-gray" href="#">更多&gt;&gt;</a>
    </div>
    </section>

    <!-- 201209_移动站_搜索框bottom search start -->    
    <section class="m-search m-search-bottom">
    <section class="m-search m-search-bottom">
    <form name="FM" action="zhengwen.asp?st=" method="post">
    <input type="text" id="txtkeywordbottom" size="10" name="zt1" value="">    
    <input type="submit" value="搜索"></form>
    </section>
    <script type="text/javascript">var sug_poptype="qiche";</script>
    </section>
    <div class="clear"></div>
    <!-- bottom search end --> </div>
    <!--JS-->    

    <!--201209_移动站_公共页底-->    
    <div id="userInfoContainer" style="display:none;" class="m-popup-box m-popup-login"></div>
    <div style="position:fixed; text-align:center; left:0px; bottom:0px; _position:absolute; width:100%; background:url(../../41/images/btbg.png) repeat-x scroll 0 0; height:44px;">
    <div class="loc_logo_nav">
    <div class="loc_logo_navbtn">
    <div class="loc_logo">
    <div class="logo">
    <nav class="m-nav">
      <ul>

        <li>
          <a href="../../mall/index/dingdan_list.asp?no=91">&nbsp;&nbsp;我的活动</a>
          <s></s>
        </li>
        <li class="current">
          <a href="hd.asp?no=91&amp;ww=2">&nbsp;我要登录</a>
          <s></s>
        </li>

        <li>
          <a href="../main_dj.asp?no=91&amp;qy=浙江省团建">&nbsp;&nbsp;团建主页</a>
          <s></s>
        </li>

      </ul>
    </nav>
    <center>
      <font color="#D4D7D9" size="4"><img src="img/b1.gif"></font>
      <br>    
      <font color="#D4D7D9">浙江省直机关团工委</font>
    </center>
    </div>
    </div>
    <div class="navbtn" id="navbtn"></div>
    </div>
    </div>
    </div>


  </ion-content>

  <ion-footer-bar class="bar-stable no-padding">
    <div class="tabs tabs-icon-top">
      <a class="tab-item" href="#/main/default">
        <i class="icon ion-ios7-home"></i>
        首页
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-star"></i>
        收藏
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        管理
      </a>
      <a class="tab-item" mine-href>
        <i class="icon ion-person"></i>
        我的
      </a>
    </div>
  </ion-footer-bar>

</ion-view>