<ion-view title="91的订制">

  <ion-header-bar class="bar-positive" align-title="center">
    <img src="img/badge.png" width="33">  
    <h1 class="title">
      <a href="#/main/sysmgmt" style="text-decoration:none">91的订制</a>
    </h1>
    <div class="buttons">
    <button class="button button-clear" ng-click="openPopover($event)"><i class="icon ion-navicon-round"></i></button>
    </div>
  </ion-header-bar>
  <ion-content class="has-footer">

    <ion-list>
      <div class="syslist">
        <span>
          <p class="sysfir"><img src="img/badge.png" width="55" style="text-align:center" /></p>
          <p class="syssec">智慧团青管理</p>
        </span>
      </div>
      <!-- <div class="sysli"> -->
      <ul class="sysli">
        <li>
          <a href="#/main/default">
            <button class="button button-calm button-block">团青主页</button>
          </a>
        </li>
        <li>
          <a href="#/main/love">
            <button class="button button-calm button-block">
              通讯录
              <span>--团青联系</span>
            </button>
          </a>
        </li>
        <li>
          <a href="#/main/nsignin">
            <button class="button button-calm button-block">
              签到管理
              <span>--活动组织者使用</span>
            </button>
          </a>
        </li>
        <li>
          <a href="#/main/total">
            <button class="button button-calm button-block">
              活动统计
              <span>--第一时间得到成员的报名信息</span>
            </button>
          </a>
        </li>
        <li>
          <a href="#/main/remind">
            <button class="button button-calm button-block">
              活动提醒
              <span>--及时的给报名后的成员提醒</span>
            </button>
          </a>
        </li>
        <li>
          <a href="#/main/myactivity">
            <button class="button button-calm button-block">
              我的活动
              <span>--找出已报名的活动,现场签到</span>
            </button>
          </a>
        </li>
        <li>
          <a href="#/main/mynote">
            <button class="button button-calm button-block">
              我的留言
              <span>--留言及建议</span>
            </button>
          </a>
        </li>
        <li>
          <a href="#/main/default">
            <button class="button button-calm button-block">
              单身缘分
              <span>--单身团青年的红娘平台</span>
            </button>
          </a>
        </li>
        <li>
          <a href="#/main/default">
            <button class="button button-calm button-block">
              操作帮助
              <span>--轻松的操作所有功能</span>
            </button>
          </a>
        </li>
        <li>
          <a href="#/main/default">
            <button class="button button-calm button-block">
              即时发布
              <span>--第一时间分享自己的感想</span>
            </button>
          </a>
        </li>
        <li>
          <a href="#/main/default">
            <button class="button button-calm button-block">
              资料修改
              <span>--个人相关信息补充修改</span>
            </button>
          </a>
        </li>
        <li>
          <a href="#/main/default">
            <button class="button button-calm button-block">
              账号生成
              <span>--生成会员帐号</span>
            </button>
          </a>
        </li>
        </ul>
      
    </ion-list>
  </ion-content>

 



<ng-include src = "'footer.html'"></ng-include>
</ion-view>

  <script id="footer.html" type="text/ng-template">
      
  <ion-footer-bar class="bar-stable no-padding">
    <div class="tabs tabs-icon-top">
      <a class="tab-item" href="#/main/default"> <i class="icon ion-ios7-home"></i>
        首页
      </a>
      <a class="tab-item" href="#"> <i class="icon ion-star"></i>
        收藏
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-gear-a"></i>
        管理
      </a>
      <a class="tab-item" mine-href>
        <i class="icon ion-person"></i>
        我的
      </a>
    </div>
  </ion-footer-bar>
      
  </script>

  <script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">My Popover Title</h1>
    </ion-header-bar>
    <ion-content>
      Hello!
    </ion-content>
  </ion-popover-view>
</script>
