/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
	display: block;
	margin: 15px auto;
	width: 96px;
	height: 96px;
}
.box {
/*	min-height: 90px;
	background-color: red;*/
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	display: block;
	max-width: 100%;
	height: auto;
}
.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.word-front {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	padding-top: 1.25em;
	padding-bottom: 0.5em;
	/*color: #fff;*/
	text-align: center;
	text-shadow: 0 1px 2px rgba(255, 255, 255, .6);
}
@media screen and (min-width: 768px) {
  .word-front {
    right: 20%;
    left: 20%;
    padding-bottom: 1.875em;
  }
}
.word-front h3, .word-front h4 {
	font-family: "微软雅黑";
	font-weight: bold;
	color: rgb(255, 0, 102);
}
.word-front h4 {
	color: white;
	margin-bottom: 0;
}
.no-padding {
	padding: 0;
}
.no-padding-td {
	padding-top: 0;
	padding-bottom: 0;
}
.slider-pager {
	display: none;
}


.background-clear, .button.background-clear.active, .button.background-clear.activated {
	background-color: transparent;
	border-style: none;
	box-shadow: none; 
}
.position {
	position: relative;
	top: 0;
	left: 0;
}
.background-img {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -999;
}
.cell-img {
	background-color: transparent;
	max-width: 4em;
	padding: 0.5em 0 0 0;
}

.text-lg {
	font-size: 135%;
}
.text-hg {
	font-size: 150%;
	min-width: 33%;
}
.take-position {
	color: transparent;
}

.text-right {
	text-align: right;
}

/*.iframe-wrapper {
	-webkit-overflow-scrolling: touch !important;
    overflow: scroll !important;
}*/

.iframe-wrapper iframe {
	padding: 0;
	/*padding-top: 1.5em;*/
	margin: 0;
	border: 0;
	width: 100%;
	height: 100%;
}

/*.has-header iframe {
	padding-top: 0;
}*/

.button .img-size .icon:before {
	display: block;
	margin-top: 0.5em;
	font-size: 3em;
	color: rgb(247, 216, 56);
}

a.center-block {
	color: rgb(190, 18, 18);
	font-weight: bold;
}

.no-padding a {
	color: #FF4500;
}

.default{
	height:3.9375em;
}

/*.tabs,.tabs-top{
	top:10em;

}
.box img{
	max-height: 10em;
}

.boxer .box{
	top:10em;
}*/

.tabs-top-ad-banner .tabs {
	top: 244px;
}

.tabs-top-ad-banner .pane .scroll-content {
	top: 293px;
}

.ad-banner, .ad-banner .box {

	max-height: 200px;
	z-index: 99;
}

.lovelist, .genderlist{
	font-family: "微软雅黑";
	font-weight: bold;
	color: rgb(255, 0, 102);
}
.lovelist  .input-text {
	margin-top:-0.375em;
}

.no-padding {
	padding: 0;
}

.item a{
	text-decoration:none;
	color: #000000;
}


.lili{
 position:relative;
 font-size: 16px;
 font-weight: bold;
}
.lili span{
 position:absolute;
 right:3px;
 text-decoration: none;
 font-size: 12px;
 font-weight: normal;
}

.back-top span{
 position:absolute;
 right:16px;
 text-decoration: none;
 font-size: 12px;
 font-weight: normal;
}
.mes-top{
	width: 40px;
}

